AI Support Automation - Support Ticket Classifier.json
{
  "name": "AI Support Automation - Support Ticket Classifier",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Customer Support Ticket",
        "formDescription": "Submit your support query and we'll get back to you shortly",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Customer Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "89724348-4b9d-4b19-98a9-74eb5de5a48b",
      "name": "On form submission",
      "webhookId": "27bdceae-d49d-4665-89ba-46708eedece3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer GROQ_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Classify this customer support message into exactly one category (Billing, Technical, Order Status, General) and one sentiment (angry, neutral, happy). Reply in this exact format: Category: <category>, Sentiment: <sentiment>. Message: {{ $json['Message'] }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "1435b06b-a019-4914-bce4-c446e26428be",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0bfc8e72-ff74-4aa0-85af-b5e6080a3b7a",
              "name": "ai_response",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "ac944341-454d-49d1-a04c-9bb9656483e6",
              "name": "is_angry",
              "value": "={{ $json.choices[0].message.content.toLowerCase().includes('angry') }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "da3e4e04-0851-40e7-9bf6-d50be2daf304",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8d2022b9-5709-4d3a-9eba-cfb52d741b78",
              "leftValue": "={{ $json.is_angry }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "4dffc539-3993-42ab-af03-0967fa8398ba",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "7530278741",
        "text": "=⚠️ Angry customer alert! Details: {{ $('Edit Fields').item.json.ai_response }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        -96
      ],
      "id": "b9626513-ad35-4553-bd17-be8d421d6738",
      "name": "Send a text message",
      "webhookId": "5e9db867-305c-4b35-85a7-54a75f2a8519",
      "credentials": {
        "telegramApi": {
          "id": "7OECE5udQvarELfe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Re: Your Support Request",
        "message": "=Hi {{ $('On form submission').item.json['Customer Name'] }},  Thank you for reaching out to us. We've received your message: \"{{ $('On form submission').item.json.Message }}\"  Our team is looking into this and will get back to you shortly if further action is needed.  Best regards, Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        96
      ],
      "id": "fb662cd9-9801-4884-9058-77bcefe44c44",
      "name": "Send a message",
      "webhookId": "3fdf9789-0e07-43cb-8b16-c08ae1bc8482",
      "credentials": {
        "gmailOAuth2": {
          "id": "rargLyu0bSU3e88G",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Mz4GUlFOSGdh7l_FqLnHXpWco1wsejYoyTtVBjLIlfU",
          "mode": "list",
          "cachedResultName": "Support Tickets Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mz4GUlFOSGdh7l_FqLnHXpWco1wsejYoyTtVBjLIlfU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mz4GUlFOSGdh7l_FqLnHXpWco1wsejYoyTtVBjLIlfU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $('On form submission').item.json['Customer Name'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Message": "={{ $('On form submission').item.json.Message }}",
            "AI Response": "={{ $('Edit Fields').item.json.ai_response }}",
            "Timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Response",
              "displayName": "AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        943.175669,
        -96
      ],
      "id": "1c862a4c-9bcb-4ee0-863a-2dba01819c95",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "I6kgXyE0m8lNMrhu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Mz4GUlFOSGdh7l_FqLnHXpWco1wsejYoyTtVBjLIlfU",
          "mode": "list",
          "cachedResultName": "Support Tickets Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mz4GUlFOSGdh7l_FqLnHXpWco1wsejYoyTtVBjLIlfU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mz4GUlFOSGdh7l_FqLnHXpWco1wsejYoyTtVBjLIlfU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $('On form submission').item.json['Customer Name'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Message": "={{ $('On form submission').item.json.Message }}",
            "AI Response": "={{ $('Edit Fields').item.json.ai_response }}",
            "Timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Response",
              "displayName": "AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        96
      ],
      "id": "7867e041-c729-4372-be95-14e1d02ce683",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "I6kgXyE0m8lNMrhu",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "67166854-cc6f-4121-9540-c2c687e9d671",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "520d05a8d40702933878e7257457457ca0f83f8587873f5d366d7febf51b03cf"
  },
  "nodeGroups": [],
  "id": "k05TQlkovslcuSs2",
  "tags": []
}